<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>MyEco</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="brand" href="index.html">MyEco</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign in
                    </a>
                </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="C:\Users\Eric Maxwell\Documents\MyEco\MyEco\images\red.png" alt="product"/>
                            <h2>Red Dead Redemption 2</h2>
                        </a>
                        <div class="rating">
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span>  <i class="fa fa-star"></i></Span>
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span> <i class="fa fa-star"></i></Span>
                            <Span>  <i class="fa fa-star"></i> </Span>
                            <div class="price"> $120,00  </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="C:\Users\Eric Maxwell\Documents\MyEco\MyEco\images\red.png" alt="product"/>
                            <h2>Red Dead Redemption 2</h2>
                        </a>
                        <div class="rating">
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span>  <i class="fa fa-star"></i></Span>
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span> <i class="fa fa-star"></i></Span>
                            <Span>  <i class="fa fa-star"></i> </Span>
                            <div class="price"> $120,00  </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="C:\Users\Eric Maxwell\Documents\MyEco\MyEco\images\red.png" alt="product"/>
                            <h2>Red Dead Redemption 2</h2>
                        </a>
                        <div class="rating">
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span>  <i class="fa fa-star"></i></Span>
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span> <i class="fa fa-star"></i></Span>
                            <Span>  <i class="fa fa-star"></i> </Span>
                            <div class="price"> $120,00  </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="C:\Users\Eric Maxwell\Documents\MyEco\MyEco\images\red.png" alt="product"/>
                            <h2>Red Dead Redemption 2</h2>
                        </a>
                        <div class="rating">
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span>  <i class="fa fa-star"></i></Span>
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span> <i class="fa fa-star"></i></Span>
                            <Span>  <i class="fa fa-star"></i> </Span>
                            <div class="price"> $120,00  </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="C:\Users\Eric Maxwell\Documents\MyEco\MyEco\images\red.png" alt="product"/>
                            <h2>Red Dead Redemption 2</h2>
                        </a>
                        <div class="rating">
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span>  <i class="fa fa-star"></i></Span>
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span> <i class="fa fa-star"></i></Span>
                            <Span>  <i class="fa fa-star"></i> </Span>
                            <div class="price"> $120,00  </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="C:\Users\Eric Maxwell\Documents\MyEco\MyEco\images\red.png" alt="product"/>
                            <h2>Red Dead Redemption 2</h2>
                        </a>
                        <div class="rating">
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span>  <i class="fa fa-star"></i></Span>
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span> <i class="fa fa-star"></i></Span>
                            <Span>  <i class="fa fa-star"></i> </Span>
                            <div class="price"> $120,00  </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="C:\Users\Eric Maxwell\Documents\MyEco\MyEco\images\red.png" alt="product"/>
                            <h2>Red Dead Redemption 2</h2>
                        </a>
                        <div class="rating">
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span>  <i class="fa fa-star"></i></Span>
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span> <i class="fa fa-star"></i></Span>
                            <Span>  <i class="fa fa-star"></i> </Span>
                            <div class="price"> $120,00  </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="C:\Users\Eric Maxwell\Documents\MyEco\MyEco\images\red.png" alt="product"/>
                            <h2>Red Dead Redemption 2</h2>
                        </a>
                        <div class="rating">
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span>  <i class="fa fa-star"></i></Span>
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span> <i class="fa fa-star"></i></Span>
                            <Span>  <i class="fa fa-star"></i> </Span>
                            <div class="price"> $120,00  </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="C:\Users\Eric Maxwell\Documents\MyEco\MyEco\images\red.png" alt="product"/>
                            <h2>Red Dead Redemption 2</h2>
                        </a>
                        <div class="rating">
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span>  <i class="fa fa-star"></i></Span>
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span> <i class="fa fa-star"></i></Span>
                            <Span>  <i class="fa fa-star"></i> </Span>
                            <div class="price"> $120,00  </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="C:\Users\Eric Maxwell\Documents\MyEco\MyEco\images\red.png" alt="product"/>
                            <h2>Red Dead Redemption 2</h2>
                        </a>
                        <div class="rating">
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span>  <i class="fa fa-star"></i></Span>
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span> <i class="fa fa-star"></i></Span>
                            <Span>  <i class="fa fa-star"></i> </Span>
                            <div class="price"> $120,00  </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="C:\Users\Eric Maxwell\Documents\MyEco\MyEco\images\red.png" alt="product"/>
                            <h2>Red Dead Redemption 2</h2>
                        </a>
                        <div class="rating">
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span> <i class="fa fa-star"></i></Span>
                            <Span> <i class="fa fa-star"></i> </Span>
                            <Span> <i class="fa fa-star"></i></Span>
                            <Span> <i class="fa fa-star"></i> </Span>
                            <div class="price"> $120,00  </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center">
                All right reserved
            </footer>
        </div>
    </body>
</html>